In [1]:
import pandas as pd

# Basic pandas

In [2]:
# let's load the dataframe
df = pd.read_excel("../data/sample.xlsx")

In [3]:
# get the size
df.shape # 19 rows, 5 columns,

(19, 5)

In [4]:
# get the first five rows
df.head(5)

,Authors,Author full names,Author(s) ID,Title,Year
0,Das P.; Mandal S.; Nedungadi P.; Raman R.,"Das, Payel (55588367500); Mandal, Santanu (551...",55588367500; 55191197300; 36069838600; 3661818...,Unveiling sustainable tourism themes with mach...,2025
1,Chellapandian H.; Jeyachandran S.,"Chellapandian, Hethesh (59540482700); Jeyachan...",59540482700; 59219777900,"Retraction Note: Comment on, ‚ÄúExpression of ...",2025
2,Wanjari M.; Mittal G.; Prasad R.,"Wanjari, Mayur (57220811297); Mittal, Gaurav (...",57220811297; 58994663400; 58573618600,Retraction Note: Transforming neurosurgical ap...,2025
3,Snigdha N.T.,"Snigdha, Niher Tabassum (59738024300)",59738024300,RETRACTED ARTICLE: Letter to the editor: ‚ÄúRi...,2025
4,Ragavendran C.,"Ragavendran, Chinnasamy (57210563730)",57210563730,"Retraction Note: Letter to Editor: Comment on,...",2025

In [5]:
# get a sample
df.sample(2)

,Authors,Author full names,Author(s) ID,Title,Year
11,Wanjari M.; Mittal G.; Prasad R.; Choudhary L....,"Wanjari, Mayur (57220811297); Mittal, Gaurav (...",57220811297; 58994663400; 58573618600; 5933108...,Retraction Note: The role of robotics in moder...,2025
5,Chellapandian H.; Jeyachandran S.,"Chellapandian, Hethesh (59540482700); Jeyachan...",59540482700; 59219777900,RETRACTED ARTICLE: Bridging the gap: Enhancing...,2025

In [6]:
# get information of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Authors            19 non-null     object
 1   Author full names  19 non-null     object
 2   Author(s) ID       19 non-null     object
 3   Title              19 non-null     object
 4   Year               19 non-null     int64
dtypes: int64(1), object(4)
memory usage: 892.0+ bytes

In [7]:
# basic selection: row 0
df.iloc[0]

Authors                      Das P.; Mandal S.; Nedungadi P.; Raman R.
Author full names    Das, Payel (55588367500); Mandal, Santanu (551...
Author(s) ID         55588367500; 55191197300; 36069838600; 3661818...
Title                Unveiling sustainable tourism themes with mach...
Year                                                              2025
Name: 0, dtype: object

In [8]:
# Get the title of row 0
df.loc[0, "Title"]

'Unveiling sustainable tourism themes with machine learning based topic modeling'

In [9]:
# do you want to shuffle the data? use this code
df = df.sample(frac=1)

# 2. First analysis Descriptive statistics

In [10]:
# let's check missing values in the df
df.isna().sum()

Authors              0
Author full names    0
Author(s) ID         0
Title                0
Year                 0
dtype: int64

In [11]:
# get average of year
print(df['Year'].mean())

2025.0